<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Vue Mastering</title>
        <link rel="stylesheet" href="./product_style.css">
    </head>
    
    <body>
        <div class="nav-bar"></div>
        
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img :src="image" />
                </div>
                
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inventory > 100">In Stock</p>
                    <p v-else-if="inventory < 10 && inventory > 0">Almost Out Stock</p>
                    <p :class="{'out-of-stock': !inStock}" v-else>Out Stock</p>
                    <div>
                        Sizes:
                        <select>
                            <option disabled>Escolha um item</option>
                            <option v-for="size in sizes" :value="size">{{size}}</option>
                        </select>
                    </div>
                    <!-- <ul v-for="size in sizes">
                        <li>{{size}}</li>
                    </ul> -->
                    Colors:
                    <ul>
                        <li v-for="(variant, index) in variants" 
                            @mouseover="updateProduct(index)" 
                            class="color-box"
                            :style="{ background: variant.color }"
                            :key="variant.id">
                        </li>
                    </ul>
                    <br>
                    <button @click="addToCart"
                        :class="{ disabledButton: !inStock }" 
                        :disabled="!inStock">Add to Cart</button>
                    <div class="cart">
                        <p>Cart({{cart}})</p>
                    </div>
                    <a :href="link" target="_blank">More products like this</a>
                </div>
                
            </div>        
        </div> 
        
        
        <script src="https://unpkg.com/vue"></script>
        <script src="./product.js"></script>
    </body>
 </html>